#snippets
  %h1
    Snippets
    %span.new
      = link_to "New Snippet", new_snippet_path

  %table.snippets
    %thead
      %th.title Title
      %th.snippet English
      %th.snippet Icelandic
      %th.snippet Arabic
      %th.snippet Filipino
      %th.snippet Haitian Creole
      %th.snippet Maltese
      %th.snippet Yiddish
      %th.edit
    %tbody
    - @snippets.each do |snippet|
      %tr
        %td= snippet.title
        %td= truncate(snippet.english, length: 200)
        %td= truncate(snippet.icelandic, length: 200)
        %td= truncate(snippet.arabic, length: 200)
        %td= truncate(snippet.filipino, length: 200)
        %td= truncate(snippet.haitian_creole, length: 200)
        %td= truncate(snippet.maltese, length: 200)
        %td= truncate(snippet.yiddish, length: 200)
        %td.edit
          = link_to "Edit", edit_snippet_path(snippet)
